/* ///////////////////////////////////////////////////////////////////// 
//  01 - Global 
/////////////////////////////////////////////////////////////////////*/

* {outline: none !important;}

::selection {
	background-color: #475B6F;
	color: #fff;
}

html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	overflow-y: scroll;
}

body {
	color: #6a6a6a;	
	background: #f1f0f0;
}

p {margin: 0 0 20px 0;	}

img {max-width: 100%;}

a {
	text-decoration: none;
	outline: none;
}

a{	
	color: #4da7ca;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	transition: all .4s;
}

a:hover {
	color: #4290ae;	
}


h1, h2, h3, h4, h5, h6{		
	margin: 0 0 15px 0;	
	color: #3A4F52;
	font-family: 'Alegreya Sans';
}

.btn{border-radius: 0;}
.btn-o {
    border: 1px solid #3A4F52;
    color: #3A4F52;
}
.btn-o:hover {
    background: #3A4F52;
    color: white;
}
.btn.btn-o-white {
    border: 1px solid white;
    color: white;
    background: transparent;
}
.btn.btn-o-white:hover {
    background: white;
    color: #6a6a6a;
}


/*////////////////////////////////////////////////////////////////////////
//  02 - Header
///////////////////////////////////////////////////////////////////////*/

#header {	
	position: relative;
	padding: 0 !important;
}

#header.header-wrapper {
	display: table;
	height: 100vh;
	width: 100%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.6);
}

#header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

#header.header-wrapper {
  display: table;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.header-wrapper-inner {
  position: relative;
  z-index: 1;
  display: table-cell;
  vertical-align: middle;
  color: white;
}

.logo img {
  height: 20px;
  width: auto;
}

.slogan img {
  width: 600px;
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
}

.secondary-slogan {
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 2px;
  color: #eee;
}

.header-wrapper-inner {
	position: relative;
	z-index: 1;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    #header.header-wrapper {
		height: auto;
		min-height: 100vh;
		padding: 0px; 
	} 
}

#header.header-wrapper .header-wrapper-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle; 
}

#header .top {
	position:fixed;
	top:0;
	width: 100%;
	padding: 20px;
	height: auto;
	z-index: 500;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;	
	transition: all .5s;		
}

#header .top.solid {
    background: #475B6F;
    padding-top: 15px;
    padding-bottom: 15px;
}

#header .top h1{
	margin-bottom: 0;
}
#header .top.solid .toggleDrawer i {
    padding-top: 8px;
}

#header .logo, #header .toggleDrawer{
	font-family: 'Alegreya SC';
	color: white;
}

#header .slogan{
	font-size: 4em;
	margin-bottom: 15px;
	line-height: 1em;
	font-family: 'Nixie One';
	color: white;
}

#header .secondary-slogan{
	font-size: 1.6em;
	color: rgba(255,255,255,.5);
	line-height: 1em;
	font-family: 'Alegreya SC';
}

#header .bottom {
    bottom: 10%;
	display: block;
	position: absolute;
	width: 100%;
	z-index: 3;
}
#header .bottom a img {
    width: 50px;
}
#header .bottom a {
    opacity: 0.7;
}
#header .bottom a:hover {
    opacity: 1;
}


/*////////////////////////////////////////////////////////////////////////
//  03 - Drawer with menu
///////////////////////////////////////////////////////////////////////*/

#drawer-right {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin-right: -300px;
    background: #2B3E51;
    width: 300px;
    padding: 20px;
    z-index: 999;
}

#drawer-right h1, #drawer-right h2{color: white;}

#drawer-right .nav-pills>li>a {
	font-size: 18px;
	border-radius: 0;
}

#drawer-right .social{margin-top: 30px}
#drawer-right .social ul {
    list-style: none;
    padding-left: 20px;
}
#drawer-right .social ul > li {
    display: inline-block;
}
#drawer-right .social ul > li > a:hover{
	color: white;
}



/*////////////////////////////////////////////////////////////////////////
//  04 - Parallax styles
///////////////////////////////////////////////////////////////////////*/

.content-block{
	background:transparent no-repeat center center fixed;
	-webkit-background-size:100%;
	-moz-background-size:100%;
	-o-background-size:100%;
	background-size:100%;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	overflow:hidden;
	padding: 60px 0;
}
.parallax{
	padding: 80px 0;
}

.block-body {
	margin-top: 60px;
}

#services {
	background-image: url(../images/traffic.jpg);
	color: white;
}
#parallax {
	background-image: url(../images/blue_mac2.jpg);
	color: white;
}
/* === Ajuste visual secci칩n Contacto (m치s suave y discreta) === */
#contact {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  background-color: #1a1c2c;
}

#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 28, 44, 0.7); /* capa oscura para reducir contraste */
  backdrop-filter: blur(2px); /* leve desenfoque opcional */
  z-index: 0;
}

#contact .container {
  position: relative;
  z-index: 1;
}

#contact h1,
#contact p {
  color: #e0f7ff; /* tono blanco azulado m치s suave */
}

#contact .btn.btn-o-white {
  border-color: #00f5ff;
  color: #00f5ff;
}

#contact .btn.btn-o-white:hover {
  background: #00f5ff;
  color: #1a1c2c;
}
#parallax h1{
	margin-bottom: 60px;
	color: white;
}




/*////////////////////////////////////////////////////////////////////////
//  05 - Recent works
///////////////////////////////////////////////////////////////////////*/

.recent-work {
    width: 100%;
    padding-bottom: 27%;
    background: #C3C9CC;
    display: table;
    text-align: center;
    vertical-align: middle;
    padding-top: 27%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 30px;
}

.recent-work span{
	margin-top: -18px;
	opacity: 0;
	position: relative;
	z-index: 1;
}
.recent-work:before {
    background: rgba(2, 56, 58, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    opacity: 0;
    -o-transition: all .2s;
	-ms-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	transition: all .2s;
}
.recent-work:hover {
    background-size: 200%;
    background-position: center;
}
.recent-work:hover:before, .recent-work:hover span {
    opacity: 1;
}

/*////////////////////////////////////////////////////////////////////////
//  06 - Services
///////////////////////////////////////////////////////////////////////*/

#services h1, #services h2{
	color: white;
}
.service i {
    font-size: 60px;
}
.service {
    padding: 0 25px;
}


/*////////////////////////////////////////////////////////////////////////
//  07 - Blog
///////////////////////////////////////////////////////////////////////*/


#blog .blog-post img {
    margin-bottom: 20px;
}
#blog .date {
    margin-bottom: 15px;
    font-style: italic;
}


/*////////////////////////////////////////////////////////////////////////
//  08 - Testimonials
///////////////////////////////////////////////////////////////////////*/


#testimonials{
	text-align: center;
}
#testimonials .testimonial > img {
    border-radius: 100%;
    margin-bottom: 15px;
}
#testimonials .testimonial {
	padding: 25px;
}


/*////////////////////////////////////////////////////////////////////////
//  09 - Contact
///////////////////////////////////////////////////////////////////////*/


#contact{
	color: white;
}
#contact h1{color: white}

.form-control-white {
    background: transparent;
    color: white;
}

.form-control-white::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
}
.form-control-white:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
    opacity:  1;
}
.form-control-white::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
    opacity:  1;
}
.form-control-white:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    white;
}


/*////////////////////////////////////////////////////////////////////////
//  10 - Footer
///////////////////////////////////////////////////////////////////////*/

#footer {
  background: radial-gradient(circle at top, #22303f, #0c121a);
  color: #00f5ff;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 245, 255, 0.3);
  box-shadow: 0 0 25px rgba(0, 245, 255, 0.1) inset;
}
#footer a {
  color: #00f5ff;
  text-decoration: none;
}
#footer a:hover {
  color: white;
}

/*////////////////////////////////////////////////////////////////////////
//  11 - Responsive styles
///////////////////////////////////////////////////////////////////////*/


@media (max-width: 767px){
	#header .slogan {
		font-size: 2.8em; 
	} 

	#header .secondary-slogan {
		font-size: 1.2em;
	}

	#header .bottom {
		bottom: 13%;
	}

	.blog-post {
		margin-bottom: 40px;
	}

	.recent-work {
		background-position: center;
	}

	.recent-work:before {
		opacity: 1;
	}

	.recent-work span {
		opacity: 1;
	}
}

@media (max-width: 480px) {
	#drawer-right {
		padding: 10px 20px;
	}

	#drawer-right .nav-pills>li>a {
		font-size: 17px;
	}

	.nav-stacked>li+li {
		margin-top: 0;
	}

	.nav>li>a {
		padding: 8px 15px;
	}

	#drawer-right .social {
		margin-top: 5px;
	}

	#header {
		background-size: cover;
	}
	
}/* === 游꿛 Estilo Prehistoricart - CIAN botones, logo plateado, Trading Card Game blanco === */

/* Fondo general */
body {
  background: #1a1c2c;
  color: #ffe9cc;
}

/* Botones - TODO CIAN */
.btn-o, 
.btn.btn-o-white {
  border: 1px solid #00f5ff;
  color: #00f5ff;
}

.btn-o:hover,
.btn.btn-o-white:hover {
  background: #00f5ff;
  color: #1a1c2c;
}

/* Header superior fijo */
#header .top {
  background: rgba(26, 28, 44, 0.6);
}
#header .top.solid {
  background: linear-gradient(90deg, #00f5ff 0%, #00bfff 100%);
}

/* Logo superior (texto) - 游눦 CIAN */
#header .logo img {
  filter: drop-shadow(0 0 10px #00f5ff)
          drop-shadow(0 0 25px rgba(0, 245, 255, 0.6));
}

/* Logo completo (slogan central) - 游 PLATEADO met치lico */
#header .slogan img {
  filter: drop-shadow(0 0 8px rgba(200, 200, 200, 0.6))
          drop-shadow(0 0 18px rgba(255, 255, 255, 0.4))
          brightness(1.2) contrast(1.1);
}

/* Subt칤tulo Trading Card Game - BLANCO suave */
#header .secondary-slogan {
  font-size: 1.4em;
  color: #ffffff;
  text-shadow: 0 0 6px rgba(255,255,255,0.4), 0 0 12px rgba(255,255,255,0.2);
}

/* Flecha inferior con tono cian */
#header .bottom a img {
  filter: drop-shadow(0 0 6px #00f5ff);
}

/* Secciones */
.content-block {
  background-color: #1a1c2c;
}

/* Animaciones suaves */
@keyframes fadeZoom {
  0% { opacity: 0; transform: scale(0.9); }
  100% { opacity: 1; transform: scale(1); }
}

.slogan img {
  animation: fadeZoom 2s ease-out;
}
.secondary-slogan {
  animation: fadeZoom 3s ease-out;
}

.block-heading .btn-big-cyan {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 25px;
}

#bg-video { position: absolute; top:0; left:0; width:100%; height:100%; object-fit:cover; z-index:0; pointer-events:none; }

/* Bot칩n grande */
.btn-big-cyan {
  background: cyan;
  color: black;
  padding: 20px 60px;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  box-shadow: 0 0 30px cyan;
}
.btn-big-cyan:hover {
  background: #00ffff;
  box-shadow: 0 0 60px cyan;
}

/* Modal */
.modal-header {
  border-bottom: none !important;
  background: transparent;
}
.modal-header .close {
  color: cyan;
  font-size: 30px;
  opacity: 1;
}
.modal-header .close:hover {
  color: white;
}
.modal-content {
  background: #111;
  padding: 40px;
  border-radius: 15px;
  color: white;
  width: 90%;
  max-width: 500px;
  border: 2px solid cyan;
  box-shadow: 0 0 30px cyan;
}
.close {
  float: right;
  color: cyan;
  font-size: 30px;
  cursor: pointer;
}
.close:hover { color: white; }

.form-group input[type="text"], input[type="email"] {
  width: 100%; padding: 10px;
  border: 1px solid cyan; border-radius: 8px;
  background: #111; color: white;
}

.btn-cyan {
  background: cyan;
  color: black;
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  border: none;
}
.btn-cyan:hover { box-shadow: 0 0 15px cyan; }

.btn-small-cyan {
  background-color: #00bcd4;
  border: none;
  color: white;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-small-cyan:hover {
  background-color: #0097a7;
}

.btn-big-cyan {
  background-color: #00bcd4;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 14px 30px;
  border-radius: 40px;
  border: none;
  transition: 0.3s;
}

.btn-big-cyan:hover {
  background-color: #0097a7;
}

.carousel-control {
  background: none !important;
}

.carousel .item img {
  width: 100%;
  height: 500px; 
  object-fit: cover;
}

#playVideoBtn {
  display: inline-block;
  margin-top: 20px;
  background: cyan;
  color: black;
  padding: 18px 60px;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  box-shadow: 0 0 25px cyan;
}

#playVideoBtn:hover {
  background: #00ffff;
  box-shadow: 0 0 45px cyan;
}